<form method="post" action="{{ path('app_event_cancel', {'id': event.id}) }}">
    <input type="hidden" name="cancel_token" value="{{ csrf_token('cancel' ~ event.id) }}">
    <button class="bg-amber-600 rounded-md py-1 px-2 mb-2 max-w-fit mx-auto hover:opacity-80" title="Annule la sortie">Annuler la sortie</button>
</form>
