{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="relative h-full flex items-center justify-center bg-auto" style="background-image: url('{{ asset('images/bg-accueil.jpg') }}');">
        <div class="absolute inset-0 bg-black opacity-50"></div>

        <div class="relative z-10 text-center text-white">
            <h1 class="text-4xl font-semibold mb-6">Sortir.com</h1>
            <p class="text-3xl mb-8">Bienvenue {{ app.user.pseudo ?? '' }} !</p>

            <a href="{{ path('app_event_index') }}"
               class="bg-[#ffe100] text-2xl text-black font-bold rounded-full py-3 px-6 shadow-md hover:opacity-80">
                VOIR LES SORTIES
            </a>
        </div>
    </div>
{% endblock %}
