
<div style="width: 100%; display: flex; justify-content: center; align-items: center;">
    <div style="max-width: 500px; width: 90%; background-color: white; border: 4px solid #8800ff; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 30px; display: flex; flex-direction: column; align-items: center;">
        <h1 style="font-size: 24px; margin-bottom: 20px;">Réinitialisation du mot de passe</h1>

        <p style="margin-bottom: 15px;">Pour réinitialiser votre mot de passe, veuillez cliquer sur le bouton ci-dessous :</p>

        <div style="margin-bottom: 15px;">
            <button style="background-color: #ffe100; color: black; padding: 10px 20px; border-radius: 25px; cursor: pointer; font-weight: bold; transition: opacity 0.3s ease;" onclick="this.style.opacity='0.7';">
                <a href="{{ url('app_reset_password', {token: resetToken}) }}" style="color: black; text-decoration: none;">Réinitialiser mon mot de passe</a>
            </button>
        </div>

        <p>Ce Token a une durée limitée d'1H.</p>

        <p style="margin-bottom: 15px;">Si vous avez des difficultés à utiliser ce lien, veuillez copier et coller l'URL suivante dans votre navigateur :</p>

        <p style="margin-bottom: 15px; color: blue;">{{ url('app_reset_password', {token: resetToken}) }}</p>

        <p style="margin-bottom: 20px;">N'hésitez pas à nous contacter si vous avez besoin d'aide supplémentaire.</p>

        <div style="text-align: center;">
            Cordialement,<br>
            L'équipe sortir.fr
        </div>

        <p style="color: #666; font-size: 12px; margin-top: 15px; text-align: center;">
            Si vous n'avez pas demandé une réinitialisation de mot de passe, veuillez ignorer cet email.
        </p>
    </div>
</div>
