{% extends 'base.html.twig' %}

{% block title %}Edit Place{% endblock %}

{% block body %}
<div class="mt-5 p-4 max-w-screen-md mx-auto border border-slate-100 bg-amber-50 shadow-md rounded-md flex flex-col">
    <h1 class="mb-3 font-semibold text-center">{% if app.current_route=='app_place_new' %}Créer{% else %}Modifier{% endif %} un lieu </h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    {% set referer = app.request.headers.get('referer') %}
    <a href="{{ referer ?: path('app_event_index') }}" class="bg-amber-400 rounded-md py-1 px-2 max-w-fit mx-auto hover:opacity-80">Annuler</a>
</div>


{% endblock %}
